# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Dependency directories
# =========================
node_modules/
dist/
dist-ssr/

# =========================
# Environment files
# =========================
*.local
.env
.env.*

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# =========================
# Editor & OS files
# =========================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# =========================
# Visual Studio / Windows
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
